/******************************************************
Parent Styles
******************************************************/
html, body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
  line-height: 1.8em;
  font-weight: 400;
  color: #666;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem; }

body, .smooth-container {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #717171; }

a:hover {
  transition: all 1s ease;
  color: #00aced; }

h2 {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem; }

ul {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/******************************************
Pace
******************************************/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace.pace-inactive .pace-progress {
  display: none; }

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important; }

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.2); }

/******************************************
Global Styles
******************************************/
.md {
  display: none; }

.desktop {
  display: inherit; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.right {
  float: right; }

.left {
  float: left; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.primary-bg {
  background: #b99af3; }

.secondary-bg {
  background: #b99af3;
  color: white; }

.dark-bg {
  background: #333;
  color: white; }

.white-bg {
  background: #fff;
  color: #333; }

/* Top Menu */
.top-menu {
  position: fixed;
  top: 0;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  color: #777;
  width: 100%;
  padding: 0;
  z-index: 99;
  text-align: center; }

.container {
  padding: 50px 10%;
  text-align: center; }

/******************************************
About 
******************************************/
.about-me p, .experience p {
  display: block; }

span.define {
  font-weight: 700; }

h2.kieran, .experience h2 {
  font-size: 21px;
  font-size: 1.3125rem; }

.ktext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #111;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; }

.ktext .border {
  color: #fff;
  display: inline-block; }

.ktext p, .ktext h1 {
  text-shadow: 4px 3px #000; }

.home.intro {
  font-size: 40px;
  line-height: 50px; }

span.main-text {
  letter-spacing: 4px;
  font-size: 60px;
  font-size: 3.75rem; }

span.lower-text h2 {
  font-size: 25px;
  font-size: 1.5625rem; }

span.main-text, span.lower-text {
  display: block;
  line-height: normal; }

span.lower-text {
  letter-spacing: 0; }

.ktext .border.trans {
  background-color: transparent; }

/******************************************
Portfolio
******************************************/
.project {
  -webkit-box-flex: 1 0 49%;
  -moz-box-flex: 1 0 49%;
  -webkit-flex: 1 0 49%;
  -ms-flex: 1 0 49%;
  flex: 1 0 49%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box; }

/******************************************
Footer
******************************************/
.footer-icons {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.footer-icons li {
  display: inline-block;
  margin: 0 9px; }

.footer-icons li:last-child {
  margin-left: 15px; }

.footer-icons li a {
  color: white;
  display: block !important;
  visibility: visible !important;
  font-size: 19px;
  font-size: 1.1875rem; }

.footer-icons li a i {
  font-size: 21px;
  font-size: 1.3125rem; }

i.fa.fa-twitter {
  color: #00aced; }

i.fa.fa-linkedin {
  color: #0077B5; }

i.fa.fa-git {
  color: #fff; }

.footer-icons h3 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 26px;
  font-size: 1.625rem; }

/* Large Desktop */
/* Laptop/Small Desktop */
/* iPad */
/* Large Phone */
/* iPhone */
@media (max-width: 640px) {
  .kimg1, .kimg2, .kimg3 {
    background-attachment: scroll; }

  .md {
    display: inherit; }

  .desktop {
    display: none; }

  .ktext {
    top: 44%; }

  .section {
    padding: 50px 5px; } }
/* Small Phone */
/* Tiny Phones */

/*# sourceMappingURL=styles.css.map */
