*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // Deciding what 1rem is (10px by default)
    @include respond(tab-land) {
         // 9px
    }
    @include respond(tab-port) {
        
    }
    @include respond(big-desktop) {
        font-size: 75%; // 12px
    }
}

body {
    box-sizing: border-box;
    background-color: $color-grey-bg;
    @include respond(tab-port) {
        padding: 0;
    }
}