*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // Deciding what 1rem is (10px by default)
    @include respond(tab-land) {
         // 9px
    }
    @include respond(tab-port) {

    }
    @include respond(big-desktop) {
        font-size: 75%; // 12px
    }
}

body {
    box-sizing: border-box;
    background-color: #fdfdfd;
    @include respond(tab-port) {
        padding: 0;
    }
}

.wrapper {
    background-color: $color-grey-bg;
    margin: 2vw;
    box-shadow: 0 2px 10px 0 hsla(0, 0%, 0%, 0.2);
}