//Colours
$primary-color: #0d1a34;
$primary-color-dark: #0a1429;
$primary-color-light: #1d48a1;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-bg :#f3f3f3;
//Grid Width
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
//Font Sizes
$default-font-size: 1.6rem;

$default-font: 'Helvetica', sans-serif;
$display-font: 'Muli', sans-serif;

$bp-large: 75em; // 1200
$bp-medium: 62.5em; // 1000
$bp-mob: 50em; // 800
$bp-small: 37.5em; // 600