$light-blue: #4CB8C4;
$mint-green: #3CD3AD;

body {
	background: $light-blue;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $mint-green, $light-blue);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $mint-green, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}