.about {
    display:block;
    width:100%;
    background-color: rgb(214, 214, 214);

    &__skills {
        display:flex;
        flex-wrap: wrap;
    }

    &__skill {
        flex: 0 0 25%;
        margin:1rem 0;
        display:grid;
        grid-template-columns: 6rem minmax(min-content, 1fr);
        grid-gap:1.5rem;
        justify-items:center;
        align-items: center;
        &-icon {
            font-size:4.5rem;
            transition: all .2s;

            &:hover {
                animation:enlargeOnHover 2s ease-in infinite;
            }

            &--html {
                color: #E34C26;
            }

            &--css {
                color: #0074B7;
            }

            &--js {
                color: #FBDF38;
            }

            &--sass {
                color: #D26698;
            }

            &--git {
                color: #010101;
            }

            &--node {
                color: #2A803D;
            }

            &--gulp {
                color: #F34954;
            }

            &--react {
                color: #3CDBF9;
            }

            &--fa {
                color: #228ae6;
            }

            &--npm {
                color: #D4343B;
            }
        }

        &-text {
            justify-self: start;
        }

    }
}