header {
    position:relative;
    height:100vh;
    width:100%;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.bg-video {
    position:absolute;
}

.logo {
    position:absolute;
    top:2.5rem;
    left: 2.5rem;
    animation:moveInLeft 1s ease-out 2.5s;
    animation-fill-mode: backwards;
    &__icon {
        color: $color-white;
        font-size: 5rem;
        width: 5rem;
        height: auto;
    }
}



